# Docs
/docs

# NEU Dataset
dataset

# Virtual environment
.venv/

# Model outputs
models/checkpoints/
models/evaluation/
models/mlruns/
models/mlflow.db

# Pycache and MLruns
training/__pycache__
inference/__pycache__
data_ingestion/__pycache__
mlruns/1