# Docs
/docs

# NEU Dataset
dataset
.cache/

# Virtual environment
.venv/
*.egg-info/

# Model outputs
models/checkpoints/
models/evaluation/
models/monitoring/
models/mlruns/
models/mlflow.db
models/*.bak

# Pycache and MLruns
training/__pycache__
inference/__pycache__
data_ingestion/__pycache__
mlruns/
.pytest_cache/
.ruff_cache/

# Env files
.env
